<div [ngDraggable]="draggable" [ngClass]="'video_cont draggableVideo'">
  <span class="icon-notes controls_copy" (click)="openModal.modalShare = !openModal.modalShare;"></span>
  <div *ngIf="session">
    <app-publisher [session]="session" [ngResizable]="ngResizable" [ngClass]="'publisherApp'">
    </app-publisher>
    <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
  </div>
  <button (click)="addSession()">session</button>
</div>

<!--modal url-->
<div class="u-widget-example-margin" id="modal-iu" *ngIf="openModal.modalShare" [ngClass]="'modalUrl'">
  <div class="c-modal">
    <a href="#" class="c-modal__close-icon" (click)="openModal.modalShare = false">
      <span class="icon-close"></span>
    </a>
    <div class="c-modal__header">
      <p class="c-modal__text">Copia está url para compartir la video llamada: <a href="#">https://chattigo/join/dafsdf</a></p>
    </div>
    <br><br><br>
    <div class="c-modal__footer">
      <a class="c-button" (click)="openModal.modalShare = false">
        copiar
      </a>
    </div>
  </div>
  <div class="c-modal__overlay"></div>
</div>
